@model (User, TransactionData, ShippingData)
@{
    ViewData["Title"] = "Payment";
}

<form asp-action="BeginTransaction">
    <div class="row">
        <div class="col-4">
            <section>
                <h3>Metody dostawy</h3>
                <ul style="list-style: none">
                    <li>
                        <input asp-for="Item2.DeliveryOption" type="radio" name="delivery" value="Delivery" id="d1" /> Kurier UPS-Poltraf transport leków
                    </li>
                    <li>
                        <input asp-for="Item2.DeliveryOption" type="radio" name="delivery" value="ParcelLocker" id="d2" /> Dostawa do paczkowmatu
                    </li>
                    <li>
                        <input asp-for="Item2.DeliveryOption" type="radio" name="delivery" value="LocalStore" id="d3" /> Dostawa do sklepu lokalnego
                    </li>
                    <li>
                        <input asp-for="Item2.DeliveryOption" type="radio" name="delivery" value="PostOffice" id="d4" /> Dostawa do urzędu pocztowego
                    </li>
                    <li>
                        <input asp-for="Item2.DeliveryOption" type="radio" name="delivery" value="SelfPickup" id="d5" /> Odbiór osobisty w aptece
                    </li>
                </ul>
                <h3>Metody płatności</h3>
                <ul style="list-style: none">
                    <li>
                        <input asp-for="Item2.PaymentMethod" type="radio" name="payment" value="blik" /> Zapłata BLIKiem
                    </li>
                    <li>
                        <input asp-for="Item2.PaymentMethod" type="radio" name="payment" value="card" /> Zapłata kartą
                    </li>
                    <li>
                        <input asp-for="Item2.PaymentMethod" type="radio" name="payment" value="transaction" /> Szybki przelew
                    </li>
                    <li>
                        <input asp-for="Item2.PaymentMethod" type="radio" name="payment" value="bank" /> Przelew na konto bankowe
                    </li>
                    <li>
                        <input asp-for="Item2.PaymentMethod" type="radio" name="payment" value="whileDelivered" /> Zapłata gotówką przy odbiorze
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-4">
            <section>
                <h3>Twoje dane</h3>
                <table calss="table">
                    <tr>
                        <td>
                            <label asp-for="Item2.Email" class="control-label">Adres e-mail </label>
                        </td>
                        <td>
                            <input asp-for="Item2.Email" class="form-contol" value="@Model.Item1.Email" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Item2.Name" class="control-label">Imię</label>
                        </td>
                        <td>
                            <input asp-for="Item2.Name" class="form-contol" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Item2.LastName" class="control-label">Nazwisko</label>
                        </td>
                        <td>
                            <input asp-for="Item2.LastName" class="form-contol" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Item2.Phone" class="control-label">Telefon</label>
                        </td>
                        <td>
                            <input asp-for="Item2.Phone" class="form-contol" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Item2.StreetName" class="control-label">Ulica</label>
                        </td>
                        <td>
                            <input asp-for="Item2.StreetName" class="form-contol" value="@Model.Item3.Street" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Item2.HouseNumber" class="control-label">Numer domu </label>
                        </td>
                        <td>
                            <input asp-for="Item2.HouseNumber" class="form-contol" value="@Model.Item3.HomeNumber"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Item2.FlatNumber" class="control-label">Numer mieszkania </label>
                        </td>
                        <td>
                            <input asp-for="Item2.FlatNumber" class="form-contol" value="@Model.Item3.LocalNumber"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Item2.PostalCode" class="control-label">Kod pocztowy </label>
                        </td>
                        <td>
                            <input asp-for="Item2.PostalCode" class="form-contol" value="@Model.Item3.PostalNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Item2.City" class="control-label">Miasto</label>
                        </td>
                        <td>
                            <input asp-for="Item2.City" class="form-contol" value="@Model.Item3.City"/>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
        <div class="col-4">
            <section>
                <h3>Podsumowanie</h3>
                <h4>Suma do zapłaty:</h4>
                <h4>@(ViewData["Summary"])</h4>
            </section>
        </div>
    </div>
</form>
