@model PO_Projekt.Models.ProductName

@{
    ViewData["Title"] = "Details";
}

<br />
<div class="row">
    <div class="col-md-6">
        <section>
            <img src="@Html.DisplayFor(model => model.PhotoRelativePath)" width="500"/>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
            <br />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.RequiresPrescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RequiresPrescription)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Manufacturer.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductForm)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductForm.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ProductType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ProductType.Name)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    <h5>@Html.DisplayFor(model => model.Price)</h5>

                </dd>
            </dl>
        </section>
    </div>
</div>


<div>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
