@model IEnumerable<PO_Projekt.Models.ProductName>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ImageFilename)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="500">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th width="100">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RequiresPrescription)
            </th>*@
            
            @*<th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>*@
            
            @*<th>
                @Html.DisplayNameFor(model => model.ProductForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>*@
            <th width="100"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.PhotoRelativePath)" height="80" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.RequiresPrescription)
            </td>*@
            
            @*<td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>*@
            
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductForm.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>*@
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">
                <img src="~/image/carts.png" height="40"/>
            </a>
            @*<a asp-action="Edit" asp-route-id="@item.Id">-</a> |
        <a asp-action="Details" asp-route-id="@item.Id">+</a>*@

            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
        </td>
        </tr>
}
    </tbody>
</table>
